.Name {
    color:green;
    text-decoration-line: underline;
    text-transform: uppercase;
    font-style: italic;
}
.photographer{
    color: blueviolet;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    text-decoration: underline;
}

h4 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    text-shadow: 2px 2px 5px greenyellow;

}

h5{
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
}

h6 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
}

body {
    font-size: 20px;
    font-weight: 200;
    width: 80%;
    margin: auto;
    border: 500px;
    border-color: chartreuse;

}

h2
{color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;

}
p{
    line-height: 35px;
}

.background1{
    background-color: cornsilk;
}
.background2{
    background-color: rgb(235, 206, 206);
}

